{% extends "base_template.html" %}
{% block title %}Sobre{% endblock %}
{% block content %}

<style>
    
main {
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
  
}

.grid {
  
  margin-left: 20px;
  display: grid;
  grid-template-columns: 30px 300px;
  grid-template-rows: 30px 30px;
}

* {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=282&q=80);
  
}


footer {
  
  text-align: center;
  
}
</style>


<br>
<hr>
<header> 
    <h1 class="titulo">SOBRE</h1>
</header>


<main>

  <img src="https://cdn.discordapp.com/attachments/638877683580796951/639256823668670474/ZIGMAP_LOGO_CENTER.png" width="200" height="200">

  <p>
    <br>
    <b>CEO de ZIGMAP:</b>
    <br>
    <br>
    Kevin Briceño.
    <br>
    <br>
    <b>Equipo de ZIGMAP: </b>
    <br>
    <br>
    Jorge Guillén.
    <br>
    Marcelo Carreño.
    <br>
    <br>
    <b>Creditos:</b>
    <br>
    <br>
    - Python.
    <br>
    <br>
    - HTML, CSS y Bootstrap 3.0.0 Snippet by scorpsoft.
    <br>
    <br>
    - Flask (by Python).
    <br>
    <br>
    - LaTeX.
    <br>
    <br>
    - Código facilito.
    <br>
    <br>
    - Visual Studio Code.
    <br>
    <br>
    
  </p>

  
</main>

{% endblock %}
  