
{% extends "base_template.html" %}
{% block title %}Generador{% endblock %}
{% block content %}

<br>
<hr>
  <header>  
      <h1 class="titulo">ATENCIÓN</h1>
  </header>


<main>


    <h1>Debes iniciar sesión para acceder</h1>


    <style>
            .linkButton:link, .linkButton:visited {
              background-color: #f44336;
              color: white;
              padding: 14px 25px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
            
            .linkButton:hover, .linkButton:active {
              background-color: red;
            }
    </style>

    <br>

                
    <a href="/" style="border-radius: 20px;" class="linkButton w3-btn w3-block w3-dark-grey">Volver</a>




</main>









{% endblock %}