{% extends "base_template.html" %}
{% block title %}Login{% endblock %}
{% block content %}


 <style>

main {
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  
}

.grid {

  display: grid;
  grid-template-columns: 30px 300px;
  grid-template-rows: 30px 30px;
  width: 100%;

  display:block;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

body {
  
  text-align: center;
  
}

</style>


<br>
<hr>
<header> 
    <h1 class="titulo">LOGIN</h1>
</header>

<main>
  
    <img src="https://img.icons8.com/ios/100/000000/name.png">
    <br>
    <br>
    <form action="" method="post">
      <br>
    <div class="grid">
      <div class="a"><label for="Usuario">Usuario</label></div>
      <div class="b"><input type="text" name="usuario" id="usuario" required></div>
      <div class="a"><label for="password">Contraseña</label></div>
      <div class="b"><input type="password" name="password" id="password" required></div>
      <p>{{alerta}}</p>
    </div>
    <br>
      <input type="submit" class="btnlogin w3-btn w3-block w3-dark-grey" id="send-login" name="login" value="Iniciar"/>
      <br>
    </form>
    <br>
    
  </main>

<br>
<br>
<br>
<br>



{% endblock %}